body{
	line-height: 25px;
	font-family: Georgia;
	font-size: 18px;
	background-color: #f0f8ff;
}

#home{
	height: 100%;
	width: auto;
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #fff;
	border-radius: 25px;
}

#Header{
	padding: 3%;
	padding-bottom: 2%;
	margin: 3%;
}

#zyw{
	width: 100%;
}

#SideBar{
	padding: 3%;
	padding-top: 0;
	margin: 3%;
	width:100%%;
}
